html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.main {
    clear: both;
    padding: 2rem;
    max-width: 62.5em;
}

h1 {
<<<<<<< HEAD
    color: $h1-p;
}
=======
    color: $red;
}
>>>>>>> 6fc08ce4d37b8c367192cd99223952955146b1b7
